# Byte-compiled / cache
__pycache__/
*.py[cod]

# Odoo specifics
*.log
*.db
*.sql
*.zip
*.egg-info/
*.pot
*.po~
*.swp
*.tmp
*.bak

# Editor files
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# System files
.DS_Store
Thumbs.db

# Python virtual environments
venv/
env/

# Odoo config
*.conf

# Odoo data
*.db
addons/web/static/lib/
